[Unit]
Description=WiFi Fallback to Emergency AP
After=network.target
Wants=network.target

[Service]
Type=forking
ExecStart=/home/dino/Documents/Shootecc/Coding/wifi_to_ad_hoc.sh
Restart=no
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target